/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/

Assets/_Recovery/
Assets/_Recovery.meta

Assets/Photon/PhotonUnityNetworking/Resources/PhotonServerSettings.asset

.vs/
.idea/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.utmp/
*.slnx

.vscode/
.DS_Store
Thumbs.db